
/* COLORS
    #f1c40f orange light
    #f39c12 orang dark
    
    FONT STYLE
  "Pristina"
  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
  
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .5);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.header{
    background-image: linear-gradient(
            to  left ,
            rgba(0, 0, 0, .9),
            rgba(0, 0, 0, .9)), 
            url(../image/table-meal.jpg);
    background-size: cover;
    position: top;
    height: 100vh;
    position: relative;
}
.cart-container {
    font-size: 1.6rem;
    width: 30rem;
    background-color: #fff;
    border-top: .1rem solid #d8d7d7;
    position: fixed;
    right: 0;
    z-index: 990;
    margin-top: 7rem;
    margin-right: 1rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .5);
    display: flex;
    padding: 4rem 1rem 2rem 1rem;
}

.cart-close {
    font-size: 2.5rem;
    font-weight: 550;
    text-decoration: none;
    float: right;
    color:#000;
    transform: translateY(-4rem);
    
}
.cart-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;

    font-size-adjust: 1.6rem;
}

.cart-container:first-child {
    margin: 3rem;
}

.cart-link {
    text-align: center;
    padding: .2rem 2rem;
    border: .1rem solid #319908;
    text-align: center;
    text-decoration: none;
    color: #38860e;
    border-radius: 2rem;
}

.cart-link:hover {
    background-color: #38860e;
    color: #fff;
}

.cart-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.food-name {
    font-size: 1.6rem;
    text-transform: capitalize;
}
.img-cart-container {
    width: 5rem;
    height: 5rem;
    background-color: red;
    border-radius: 50%;
}

.food-cart-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
                                                  /*********** HEADER*************/
.nav-bar{
    width: 100%;
    height: 7rem;
    background-color: #ffffff;
    
    position: absolute;
    position: fixed;
    z-index: 999;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

}

.nav-bar ul{
    padding: 2rem 4rem;

}
.nav-bar li {
    display: block;
}

.cart-icon {
    fill: #7DF53A;
    height: 3rem;
    width: 3rem;
    transform: translateY(-.5rem);
    cursor: pointer;
}

.cart-icon:hover .cart-container {
    display: block;
}

header label {

    display: none;
    color: #fff;
    padding: 2rem;
    font-size: 2rem;
    line-height: 2rem;
    float: right;
}
#toggle {
    display: none;
    position: absolute;
    z-index: 999;
    position: fixed;
}
.close {
    color: #111;
    font-size: 3rem;
    text-decoration: none;
    float: left;
    position: absolute;
    z-index: 111;
    padding: 3rem;
    display: none;   
}

.logo{
    width: 5rem;
    margin: 1rem 2.5rem;
    float: left;
    animation-name: rotateLogo;
    animation-delay: .3s;
    animation-duration: 2s;
}


@keyframes rotateLogo{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
        transform: rotate(200deg);
    }
    100%{
        opacity: 1;
    }
}
.u-margin-small{
    margin-left: 2rem;
}
.u-margin-huge{
    margin-top: 5rem;
}

.nav-bar li {
    float: right;
    padding: 1rem 1.7rem;
    list-style: none;
}

.nav-bar ul:only-child{
    word-spacing: .3rem;
}

.nav-bar a:link,
.nav-bar a:visited,
.nav-bar a:active{
    font-size: 1.4rem;
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
}
.nav-bar a:hover{
    color: #000;
}
.header-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    padding-bottom: 3rem;
}

.heading-primary-main{
    display: block;
    font-size: 4rem;
    font-weight: 200;
    text-transform: uppercase;
    word-spacing: .1rem;
 
   
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-delay: .3s;
    backface-visibility: hidden;
    
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(-5rem) 
        
    
    }
    50%{
        opacity: .5;
        transform: translateX(1rem);
   
       
    }

    100%{
        opacity: 1;
    }

}
.heading-primary-sub{
    text-transform: capitalize;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    color:#fff;
    word-spacing: .5rem;
    margin-top: -1rem;
   

    animation-name: moveInTop;
}

.order-btn:visited,
.order-btn:link{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    box-shadow: 0 .7rem 1rem rgba(0, 0, 0, .3);
    background-image: linear-gradient(
        to right, 
        #7DF53A,
        #FDF13F);
    border-radius: 2rem;
    text-decoration: none;
    color: #074610;
    transition: all .5s;
    animation-name: moveInTop .3s;
}

.order-btn:hover{
    background-image: linear-gradient(
        to left, 
        #fff,
        #fff);
    box-shadow: 0 5rem 6rem ,rgba(0,0,0, .7);
}


                                  /**********SERVICES SECTION****************/

.services-section{
    background-color: #eee;
    padding-top: 2rem;
    position: relative;
}


.services-heading{
    text-align: center;
    display: block;
    padding: 2rem 0;
    
}
.services-heading-sub {
    text-transform: uppercase;
    color: #319908;
    margin-bottom: .5rem;
    font-weight: 400;
}

.services-heading-text{
    font-size: 3rem;
    font-weight: 500;
    background-image: linear-gradient(
        to right,
        #319908,
        #9cb608);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: capitalize;
    
}

.row{
    max-width: 114rem;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}
.row:last-child{
    padding-bottom: 2rem;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

[class^="col-"]{
    float: left;

}

.col-1-of-4{
    width: calc((100% - 3*6rem)/4);
    padding: 1rem 1rem;
}

.col-1-of-4:not(:last-child){
    margin-right: 6rem;
}

.services-box{
    height: 29rem;
    background-color: #fff;
    transition: all .2s ease-in-out;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

    margin: 6rem 0;
}

.services-box:hover{
    transform: translateY(-.5rem);
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,.1),
                0 .5rem 1rem 0  rgba(0,0,0,.2);

}
.icon-style {
    font-size: 5rem;
    background-image: linear-gradient(
        to right, 
        rgba(236, 221, 11, 0.7),
        rgba(13, 182, 4, 0.815));
        -webkit-background-clip: text;
        color: transparent;
        display: inline-block;
        margin-bottom: 1rem;
    
}

                               /********************** FOOD MENU SECTION *******************/
.food-menu{
    background-color: #eee;
}


.row-food-menu{
    max-width: 140rem;   
    margin: 0 auto;
    padding: 0 2rem;
    perspective: 150rem;
}
.row-food-menu:last-child{
    padding-bottom: 5rem;
}
.row-food-menu:after{
    content: "";
    display: table;
    clear: both;
}

.food-menu-container{
    width: calc((100% - 2rem * 3)/4);
    float: left;
    margin-bottom: 2rem;
     height: 33rem;
}

[class^="food-menu-cont"]:not(:last-child){
    margin-right: 2rem;
}

.food-img{
    width:100%;
    height: 33rem;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

    border-radius: .3rem;
}
.card{
    text-align: center;
    font-size: 1.6rem;
    transform-style: preserve-3d;
    position: relative;
    transition: all 1s ease;
    height: 33rem;
}
.card:after{
    content: "";
    display: table;
    clear: both;
}
.card li{
    list-style: none;
    font-weight: 300;
    text-transform: capitalize;
    border-bottom: .1rem solid #eee;
    width:30%;
    margin: 0 auto;
}

.card:hover{
    transform: rotateY(180deg)
}
.card-heading{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1rem;
    padding-top: .5rem;
    
}
.card-heading-sub{
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1.4rem;
    background-color: #fff;
    color: #ffb900;
}
.card-front, .card-back{
    height: 33rem;
    backface-visibility: hidden;
    border-radius: .3rem;
}
.card-back{
    background-image: linear-gradient(
        to bottom right,
        #ffb900, #ff7730);
        height: 33rem;       
        box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                    0 .1rem .2rem 0  rgba(0,0,0,.2);
 
        color: #fff;
        position: relative;
        bottom: 33rem;
        transform: rotateY(180deg);
}
.order-price{
    font-size: 4rem;
    display: block;
    
}
.order-btn-mini{
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 3rem;
    text-decoration: none;
    color: #319908;
    text-transform: uppercase;
    font-weight: 600;
}
.order-btn-mini:hover{
    background-color: #319908;
    color: #fff;
    
  
}
                                        /********************** STAFFS SECTION *******************/

.staff-section{
    background-image: linear-gradient(
         rgba(109, 107, 107, 0.9),
         rgba(0, 0, 0, .9)),
    url(../image/Healthy-Food-GQ-23Dec16_b.jpg);
    background-size: cover;
}

.staff-section:after{
    content: "";
    display: table;
    clear: both;
}

.staff-col{
    background-image: linear-gradient(
        to bottom right,
        #fdf132,
        #f39c12);
    float:left;
    width: calc((100% - 2 * 4rem)/3);
    margin: 7rem 0;
    border-radius: .3rem;
    position: relative;
    box-shadow: 0 .2rem 3rem rgba(0, 0, 0, .9);
    backface-visibility: hidden;
}

.staff-img-container{
    clip-path: polygon(0 0, 100% 0, 100% 60%,0 80%);
    
}

.staff-img-row{
    max-width: 114rem;
    margin:0 auto;
} 
 
[class^="staff-col"]:not(:last-child){
    margin-right: 4rem;
    
}

.img-staff{
    width: 100%;
    height: 35rem;
    border-radius: .3rem;
    transform: scale(1);
    filter: grayscale(50%);
    transition: all 1s;
 
}
.img-staff:hover{
    transform: scale(1.1);
    filter: grayscale(0%); 
   
}
.staff-names{
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background-image:linear-gradient( 
        to left top,
        #f39c12,
        #fdf132);
    padding: .4rem;
    color: #07300c;
    box-shadow: 0 .1rem .7rem rgba(0, 0, 0, .9);    
}

.social-media-icons{
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 3rem;
}
.social-media-box {
    width: 12rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.facebook-icon:hover {
    fill: #3b5998;
}
.twitter-icon:hover {
   fill: #00acee;

}
.youtube-icon:hover {
    fill: #c20940ee;
}

/**** consumer review ******/

.consumer-review{
    background-color: #eee;
    padding-top:5em;
    position: relative;
}
.story{
    width: 75%;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

    background-color: #fff;
    transform: skewX(-15deg);
    margin: 0 auto;
    padding: 5rem 5rem;
    margin-bottom: 5rem;
    transition: all .3s .2s;

}
.story > *{
    transform: skewX(15deg);
    
}
.story:after{
    content: "";
    display: table;
    clear: both;
}
.story-text{
    text-align: justify;
    font-style: italic;
    font-size: 1.6rem;

}

.figure{
    width: 20rem;
    height: 16rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(2rem);
    padding: 1.5rem 2rem;
}

.figure-img{
    width: 100%;
    border-radius: 70%;
}
.btn-more{
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top: 3rem;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50% -50%)
}
.btn-more:hover {
    color: #f39c12;
}
/******** MAP *********/
.map-n-form-section{
    background-color: #eee;
    font-size: 1.8rem;
}


.map-location{
    position: relative;
    
}
#map{
    width: 60%;
    height: 55rem;
}

.form{
    width: 40%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    top: 0;
    right: 0;   
    padding: 2rem 0 0 5rem;  
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

}

.form > * {
    font-family: sans-serif;
}

.form-text-box{
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.form-heading{
    color: #000;
    font-weight: 400;
    font-size: 2.5rem;
    background-image: linear-gradient(
        to left,
        #319908,
        #9cb608);
    -webkit-background-clip: text;
    color: transparent;
    
}
.input{
    color: #444;
    font-size: 1.6rem;
    font-family: sans-serif;
    padding: 1rem .5rem;
    margin-bottom: 1rem;
    border-radius: .2rem;
}
.input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.inputs::-webkit-input-placeholder{
    
    color: #777;
}

.form-group #fullname,#email{
    font-family: sans-serif;
    display: block;
    width: 90%;
    padding-top: 2rem;
    border: none;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

}

.form-group textarea{
    margin-top: 2rem;
    width: 90%;
    font-size: inherit;
    border: none;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

}

#submit-btn{
    margin-top: 1rem;
    padding: 1rem 5rem;
    background-image:linear-gradient(to left, #319908,
    #9cb608);
    outline: none;
    border: none;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.1),
                0 .1rem .2rem 0  rgba(0,0,0,.2);

    color: #fff;
    font-size: inherit;
    position: relative;
    cursor: pointer;
 
}


/*********FOOTER***********/
.footer{
    background-image:linear-gradient(
        to bottom, 
        #405972,
        #22314b) ;
    padding: 5rem 0;
    text-transform: capitalize;
}
.footer-logo{
    width: 100%;
}
.footer-list-sub-heading{
    font-size: 1.6rem;
    color: #fdf132 !important;   
    text-transform: uppercase;
}


.col-1-of-6{
    width:calc((100% - 4*8rem)/5);
    color: #dfd9d9;
}
.col-1-of-6 > ul{
    font-size: 1.5rem;
    list-style: none;
    text-align: center; 
    
}
.col-1-of-6 a{
    text-decoration: none;
    color: inherit;
    
}

.col-1-of-6 li:not(:first-child){
    transition: all .5s;
    color: #fff;
}
.col-1-of-6 li:hover{
    color: #fff;
    font-size: 1.7rem;
    backface-visibility: hidden;
 
}
.footer-list-sub-heading li:hover{
    display: inline-block;
    transform: scale(1.1rem);

}
.col-1-of-6:not(:last-child){
    margin-right: 8rem;
}

.resturan-name{
    text-transform: capitalize;
    margin-top: 1rem;
    color: #fff;
    filter: brightness(70%);
}

/************RESTAURANT PARTNERS**************/

.partner-heading{
    text-align: center;
    margin-top: 5rem;
    padding: 3rem 0;
    color: #fdf132; 
    font-weight: 400;
    border-top: .1rem solid #777;
    
}
.resturant-img{
    width: 25%;
}
.col-1-of-5{
    width: calc((100% - 4*6rem)/4);
}

/***** RESPONSIVE DESIGIN FOR TABLETS LANDSCAPE MODE******/
@media (max-width: 1108px){
    html{
        font-size: 50%;
    }
}

/***** RESPONSIVE DESIGN FOR TABLE PORTRAIT MODE****/
@media (max-width: 990px) {
    .row:last-child{
        padding-bottom: 5rem;
    }

    .heading-primary-main{
        display: block;
        font-size: 3rem;
        word-spacing: 1rem;
    }

    .order-btn:visited,
    .order-btn:link{
        text-transform: capitalize;
        margin-top: 2rem;
        font-size: 1.3rem;
        padding: 1rem 2rem;
        color: #fff;
    }


    .nav-bar {
        width: 100%;
        height: 100%;
        float: none;
        text-align: center;
        display: none;
        background-image: linear-gradient(to right, #ffb900, #ff7730);
        z-index: 100;
        position: absolute;
    }

    .nav-bar li {
        float: none;
        padding: 2.5rem;
    }
    
    .logo{
        width: 10rem;
        padding: 3.3rem;
        float: left;
        animation-name: rotateLogo;
        animation-delay: .3s;
        animation-duration: 2s;
    }

    
    .nav-bar a:link,
    .nav-bar a:visited,
    .nav-bar a:active{
        color: #fff;
    }

    .nav-bar ul {
        padding: .1rem;
    }

    .nav-bar a {
        color: #fff;
    }

    header label {
        cursor: pointer;
        display: block;
    }

    #toggle:checked + nav, .close{
        display: block;
        
    }
    
    .col-1-of-4{
        width: calc((100% - 2*6rem)/2);
        padding: 2rem 3rem;
    }
    
    .col-1-of-4:not(:last-child){
        margin-right: 3rem;
        margin-left: 3rem;
        
    }
    .col-1-of-4:last-child {
        margin-left: 3rem;
    }
    
    .services-box{
        height: 35rem;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        margin: 2rem 0;
    }
    
    .services-box:hover{
        transform: scale(1.1);
        box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.192);
    }

    /***FOOD**/    
    .row-food-menu{
        max-width: 140rem;   
        margin: 0 auto;
        padding: 0 2rem;
        perspective: 0rem;
    }
    .row-food-menu:last-child{
        padding-bottom: 2rem;
    }
    .row-food-menu:after{
        content: "";
        display: table;
        clear: both;
    }
    
    .food-menu-container{
        width: calc((100% - 3rem * 2)/2);
        float: left;
        margin-bottom: -2rem;
        height: 33rem;
    }
    

    [class^="food-menu-cont"]{
        margin-right: 3rem;
        padding-left: 3rem;
        margin-bottom: 30rem;
    }
    
    .food-img{
        height: 25rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card{
        height: 33rem;

    }

    
    .card:hover{
        display: none;
    }
   
    .card-front, .card-back{
        height: 0;
        backface-visibility: visible;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }
   
    .card-back{
        height: 33rem;       
        box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .9);    
        bottom: -25rem;
        transform: rotateY(0deg);
    }
    /**** STAFF ****/
    .staff-col{
        width: calc((100% - 2 * 6rem)/3);
        
    } 
     
    [class^="staff-col"]:not(:last-child){
        margin-right: 2rem;
        margin-left: 2rem;
    }
    
    .img-staff{
        transform: scale(1);
        filter: grayscale(0%);
    }

    .img-staff:hover{
        transform: scale(1);
        filter: grayscale(0%); 
       
    }

    .staff-names{
        font-size: 2rem;
    }
    
    .social-media-icons{
        width: 3rem;
        height: 3rem;
        margin-bottom: 5rem;
    }


        /*** review ****/

    .story{
        width: 75%;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
        background-color: rgba(255, 255, 255, .6);
        transform: skewX(0deg);
        margin: 0 auto;
        padding: 2rem 2rem;
        margin-bottom: 5rem;
    }
    
    .figure {
        margin: 0 auto;
    }

    .story > *{
        transform: skewX(0deg);
    }
    
    /******** MAP *********/
    #map{
        width: 100%;
        height: 50rem;
    }
    
    .form{
        width: 100%;
        height: 100%;
        position: relative;
        padding-left:5rem;  
    }

    .form-text-box{
        font-size: 1.6rem;
        text-transform: uppercase;
        padding-bottom: 2rem;
    }

    .input{
        padding: 1.5rem .5rem;
        margin-bottom: 1rem;
    }

    .form-group #fullname,#email{
        display: block;
        width: 90%;
        padding-top: 3rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border: none;
        box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .2);
    }
    
    .form-group textarea{
        margin-top: 2rem;
        width: 90%;
        font-size: inherit;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border: none;
        box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    }
    
    #submit-btn{
        margin: 2rem 0 5rem 0;
        padding: 1rem 5rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;  
    }
    
    
    /*********FOOTER***********/
    .footer-logo{
        width: 6rem;
    }

    .col-1-of-6{
        width:calc((100% - 4*8rem)/5);
    }
    .col-1-of-6 li{
        padding: .7rem 0;
    }

    .col-1-of-6 a {
        font-size: 1.2em;
    }

    .footer-list-sub-heading li:hover{
        transform: rotate(0deg);
    }

    .col-1-of-6:not(:last-child){
        margin-right: 6rem;
    }
    /************RESTAURANT PARTNERS**************/
    
    .partner-heading{
        margin-top: 5rem;
        padding: 6rem 0;
        color: #fdf132; 
        font-weight: 400;
        border-top: .1rem solid #777;
        
    }

    .resturant-img{
        width: 7rem;
    }

    .col-1-of-5{
        width: calc((100% - 4*6rem)/4);
    }

}

@media (max-width: 600px) {
    .col-1-of-4{
        width: calc((100% - 1*6rem)/1);
        padding: 1rem 1rem;
    }

    .services-box{
        height: 25rem;
        border-top-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        margin: 2rem 0;
    }
    
    /***FOOD**/    
    .row-food-menu:last-child{
        padding-bottom: 2rem;
    }
    
    .food-menu-container{
        width: calc((100% - 1rem * 2)/1);
        margin-bottom: -2rem;
        height: 32rem;
    }
    

    [class^="food-menu-cont"]{
        margin-bottom: 30rem;
    }
    
    .food-img{
        height: 25rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .card{
        height: 25rem;
    }
   
    /**** STAFF ****/
    .staff-col{
        width: calc((100% - 1 * 6rem)/1);
        
    } 
     
    [class^="staff-col"]{
        margin-right:3rem;
        margin-left: 3rem;
    }
    .staff-img-row {
        width: 90%;
        height: 100rem;
    }
    

    .staff-names{
        
        font-size: 2rem;
    }
    
    .social-media-icons{
        width: 3rem;
        height: 3rem;
        margin-bottom: 5rem;
    }
    
    /***** consumer review *****/
    .story > *{
        transform: skewX(0deg);
    }
    .story-heading {
        text-align: center;
        margin: 2rem 0;
    }

    .story:after{
        content: "";
        display: table;
        clear: both;
    }

    .story-text{
        text-align: justify;
    
    }
    
    .figure{
        float: none;
    }
    
    .figure-img{
        width: 100%;
        border-radius: 70%;
    }
    .btn-more{
        margin-top: 4rem;
        color: #000;
        text-decoration: none;
        font-weight: 400;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50% -50%)
    }

    /*********FOOTER***********/
    .footer-logo{
        display: none;
    }

    .col-1-of-6 li{
        padding: .7rem 0;
        width: 100%;
    }

    .col-1-of-6{
        width:calc((100% - 2*1rem)/3);
        margin-left: 1rem;
    }

    .footer-list-sub-heading li:hover{
        transform: rotate(0deg);
    }


    /************RESTAURANT PARTNERS**************/
    
    .partner-heading{
        margin: 5rem;
        padding: .5rem 0;
        color: #fdf132; 
        font-weight: 400;
        border-top: .1rem solid #777;
        
    }

    .resturant-img{
        width: 5rem;
    }

    .col-1-of-5{
        width: calc((100% - 3*1rem)/3);
        padding-top: 1.5rem;
    }
}


@media (max-width: 330px) {
    .col-1-of-6{
        width:calc((100% - 2*1rem)/1);
        margin-left: 1rem;
    }


}